@tailwind base;
@tailwind components;
@tailwind utilities;

:where(.css-dev-only-do-not-override-n0gjrg).ant-drawer .ant-drawer-body {
  padding: 0px;
}

:where(.css-dev-only-do-not-override-n0gjrg).ant-drawer .ant-drawer-header {
  border-bottom: 2px solid #e87f36;
}


body{
  background-color: #ffffff;
}